.App {
  text-align: center;
  margin:0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


header h1{
  background-color:black;
  color:white;
  padding:15px 0px 15px 60px;
  margin-top:0
}
/* 質問を入力して下さい */
.ask h2{
  text-align:center;
  margin-top:30px;
  margin-bottom:5px;
}

.ask h3{
  text-align:center;
  margin-top:0;
  margin-bottom:50px;
}

/* 質問入力欄 */
.quest textarea{
  width:550px;
  height:50px;
  /* 訂正したい ↓*/
  /* margin-left:28%; */
  /* text-align:center; */
  margin-bottom:40px;
  text-align: center;
}


/* 質問欄追加 */
.add i{
    zoom: 2.8;
    margin-left:68%;
}

/* OKボタン */
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: black;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-left:80%;
}

.btn-square:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

/* フッター */
footer{
  background-color:black;
  width: 100%;
  height: 70px;
  margin-top:154px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
